<h1 class="page-title">Sender IDs</h1>

<button-toolbar>
  <button
    pButton
    type="button"
    label="New Sender ID"
    icon="pi pi-plus"
    class="p-button-primary"
    (click)="openCreate()"
    pTooltip="Create new sender ID">
  </button>
</button-toolbar>

<div class="row">
  <!-- Create Sender ID Form -->
  <div class="col-sm-12 mb-4" *ngIf="formView.createView">
    <app-card title="Create Sender ID">
      <form [formGroup]="senderIdForm" (ngSubmit)="onSubmit()">
        <div class="row mb-3">
          <div class="col-md-3">
            <label for="application" class="form-label">Application</label>
          </div>
          <div class="col-md-9">
            <p-select  placeholder="Select Application"
              id="application"
              formControlName="applicationId"
              [options]="applications"
              optionLabel="appName"
              optionValue="id">
            </p-select>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3">
            <label for="senderId" class="form-label">Sender ID</label>
          </div>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              id="senderId"
              formControlName="senderId"
              maxlength="11">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3">
            <label for="purpose" class="form-label">Purpose</label>
          </div>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              id="purpose"
              formControlName="purpose">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3">
            <label for="authLetter" class="form-label">Authorization Letter<span style="font-size:12px"><i>(pdf)</i></span></label>
          </div>
          <div class="col-md-9">
            <input #authLetterInput (change)="onFileChange_authLetter($event)" accept="application/pdf" class="form-control" type="file" id="authLetter">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3">
            <label for="bizDoc" class="form-label">Business Registration Document / Ghana Card<span style="font-size:12px"><i>(pdf)</i></span></label>
          </div>
          <div class="col-md-9">
            <input #bizDocInput (change)="onFileChange_bizDoc($event)" accept="application/pdf" class="form-control" type="file" id="bizDoc">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3">
            <label for="documentComments" class="form-label">Attached Documents Content</label>
          </div>
          <div class="col-md-9">
            <textarea
              class="form-control"
              id="documentComments"
              formControlName="documentComments">
            </textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-md-9 offset-md-3 d-flex gap-2">
            <button type="button" class="btn btn-secondary" (click)="backToList()">Cancel</button>
            <button id="saveEditButton" type="submit" class="btn btn-primary" [disabled]="isLoading">
              <span *ngIf="senderIdForm?.value?.id === null || senderIdForm?.value?.id === undefined">Submit Request for new SenderID</span>
              <span *ngIf="senderIdForm?.value?.id !== null && senderIdForm?.value?.id !== undefined">Update Request Details</span>

            </button>
          </div>
        </div>
      </form>
    </app-card>
  </div>

  <!-- Sender IDs List Table -->
  <div class="col-sm-12" *ngIf="formView.listView">
    <app-card title="Sender IDs List">
      <p-table [value]="senderIds" dataKey="id" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
               currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
               [tableStyle]="{'min-width': '50rem'}" styleClass="p-datatable-gridlines">
        <ng-template pTemplate="header">
          <tr>
            <th></th>
            <th>App</th>
            <th>Sender ID</th>
            <th>Purpose</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-sender let-expanded="expanded">
          <tr>
            <td>
                <button type="button" pButton pRipple [pRowToggler]="sender"
                    class="p-button-text p-button-rounded p-button-plain"
                    [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
            </td>
            <td>{{ sender.appName }}</td>
            <td>{{ sender.senderId }}</td>
            <td>{{ sender.purpose }}</td>
            <td>
              <p-tag
                [value]="sender.idStatusName"
                [severity]="sender.idStatus === 'ACTIVE' ? 'success' : sender.idStatus === 'PENDING' ? 'warning' : 'secondary'">
              </p-tag>
            </td>
            <td>
              <p-button
                icon="pi pi-pencil"
                severity="info"
                pTooltip="{{ sender.idStatus === 'PENDING' ? 'Edit' : 'Approved Sender ID cannot be edited. Request new one' }}"
                [disabled]="sender.idStatus !== 'PENDING'"
                (click)="editSenderId(sender)"/>
              <p-button icon="pi pi-trash" severity="danger" class="mx-1" pTooltip="Delete" (click)="deleteSenderId(sender)"/>
            </td>
          </tr>
        </ng-template>
        <ng-template #expandedrow let-sender>
          <tr>
            <td colspan="1"></td>
            <td colspan="5">
              <div class="row">
                <div class="col-auto">
                  <label class="field-label">Documents Content: </label>
                  <label class="field-value"><i>{{sender?.documentComments}}</i></label>
                </div>
              </div>
            </td>
          </tr>
      </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6" class="text-center text-muted py-3">
              No sender IDs found.
            </td>
          </tr>
        </ng-template>
      </p-table>
    </app-card>
  </div>
</div>
