
<form [formGroup]="smsForm" (ngSubmit)="onSubmit()" class="p-fluid">

    <div class="row">
        <div class="col-12 mb-3">
            <div class="d-flex flex-row gap-3">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="smsType" id="smsType" formControlName="smsType" value="single">
                    <label class="form-check-label" for="single">
                        Single SMS
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="smsType" id="smsType" formControlName="smsType" value="bulk">
                    <label class="form-check-label" for="bulk">
                        Bulk SMS
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="smsType" id="smsType" formControlName="smsType" value="custom">
                    <label class="form-check-label" for="custom">
                        Custom SMS
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-4">
        <label for="sender_id" class="form-label font-weight-bold">Sender ID *</label>
        <select class="form-select" id="senderId" formControlName="senderId">
            <option selected disabled>Select an ID</option>
            <option value="1">ID 1</option>
            <option value="2">ID 2</option>
            <option value="3">ID 3</option>
        </select>
    </div>

    <div class="mb-4" *ngIf="smsForm?.value?.smsType === 'single'">
        <label for="phoneNo" class="form-label font-weight-bold">Phone Numbers*</label>
        <input type="tel" class="form-control" id="phoneNo" formControlName="phoneNo" placeholder="">
    </div>

    <div class="mb-4" *ngIf="smsForm?.value?.smsType === 'bulk'">
        <label for="phone_numbers" class="form-label font-weight-bold">Phone Numbers *</label>
        <div class="d-flex flex-row gap-3">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="phoneNumberSource" formControlName="phoneNumberSource" id="copy_paste" value="copyPaste">
                <label class="form-check-label" for="copy_paste">
                    Copy and Paste
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="phoneNumberSource" formControlName="phoneNumberSource" id="upload_file" value="uploadFile">
                <label class="form-check-label" for="upload_file">
                    Upload File
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="phoneNumberSource" formControlName="phoneNumberSource" id="groups" value="groups">
                <label class="form-check-label" for="groups">
                    Group
                </label>
            </div>
        </div>
    </div>

    <div class="mb-4" *ngIf="smsForm?.value?.smsType === 'bulk' && smsForm?.value?.phoneNumberSource === 'copyPaste'">
        <label for="phoneNo" class="form-label font-weight-bold">Phone No.s*</label>
        <textarea class="form-control" id="phoneNo" formControlName="phoneNo" rows="5" placeholder="Paste your phone number list here"></textarea>
    </div>

    <div class="mb-4" *ngIf="smsForm?.value?.smsType === 'bulk' && smsForm?.value?.phoneNumberSource === 'uploadFile'">
        <label for="uploadedFile" class="form-label font-weight-bold">Uplodaed File*</label>
        <input type="file" class="form-control" id="uploadedFile" formControlName="uploadedFile">
    </div>

    <div class="mb-4" *ngIf="smsForm?.value?.smsType === 'bulk' && smsForm?.value?.phoneNumberSource === 'groups'">
        <label for="group_select" class="form-label font-weight-bold">Group *</label>
        <select class="form-select" id="group_select"  formControlName="groupId">
            <option selected disabled>Select a group</option>
            <option value="1">Group A</option>
            <option value="2">Group B</option>
            <option value="3">Group C</option>
        </select>
    </div>


    <div class="mb-4">
        <label for="message_text" class="form-label font-weight-bold">Message Text *</label>
        <textarea class="form-control" id="message_text" formControlName="messageText" rows="5" placeholder="Type your message here..." required></textarea>
        <div class="d-flex justify-content-between mt-2">
            <small class="text-muted">Characters: <span id="char_count">0</span>/1000</small>
        </div>
    </div>

    <!-- <div class="mb-4">
        <label for="sms_nature" class="form-label font-weight-bold">SMS Nature *</label>
        <select class="form-select" id="sms_nature" formControlName="smsNature">
            <option selected>Onetime</option>
            <option>Recurring</option>
        </select>
    </div> -->

    <div class="mb-4">
        <label for="phone_numbers" class="form-label font-weight-bold">SMS Nature *</label>
        <div class="d-flex flex-row gap-3">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="smsNature" formControlName="smsNature" id="onetime" value="onetime">
                <label class="form-check-label" for="onetime">
                    Onetime
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="smsNature" formControlName="smsNature" id="recurring" value="recurring">
                <label class="form-check-label" for="recurring">
                    Recurring
                </label>
            </div>
        </div>
    </div>

    <div class="mb-4">
        <label class="form-label font-weight-bold">SMS Options</label>
        <div class="d-flex flex-row gap-3 flex-wrap">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="dispatched" formControlName="dispatched">
                <label class="form-check-label" for="dispatched">
                    Dispatched
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="flash_sms" formControlName="flashSms">
                <label class="form-check-label" for="flash_sms">
                    Flash SMS
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="schedule_sms" formControlName="scheduleSms">
                <label class="form-check-label" for="schedule_sms">
                    Schedule SMS
                </label>
            </div>
            <div class="form-check form-check-custom-success">
                <input class="form-check-input" type="checkbox" id="template_sms" formControlName="templateSms">
                <label class="form-check-label" for="template_sms">
                    <i class="fa-solid fa-square-check"></i> Template SMS
                </label>
            </div>
        </div>
    </div>
    <div class="mb-4" *ngIf="smsForm?.value?.scheduleSms">
        <label for="phoneNo" class="form-label font-weight-bold w-100">Scheduled Time*</label>
        <!-- <input type="datetime" class="form-control" id="phoneNo" formControlName="scheduledTime" placeholder=""> -->
        <p-calendar
          id="scheduledTime"
          formControlName="scheduledTime"
          [showTime]="true"
          [showSeconds]="false"
          dateFormat="mm/dd/yy">
        </p-calendar>
    </div>

    <div class="row">
        <div class="col-md-6 mb-4">
            <label for="pages_count" class="form-label font-weight-bold">Pages Count</label>
            <input type="text" class="form-control" id="pages_count" disabled>
        </div>
        <div class="col-md-6 mb-4">
            <label for="total_recipients" class="form-label font-weight-bold">Total Recipients</label>
            <input type="text" class="form-control" id="total_recipients" disabled>
        </div>
    </div>

    <div class="d-flex justify-content-end gap-3 mt-4">
        <button type="button" class="btn btn-outline-secondary">Cancel</button>
        <button type="submit" class="btn btn-success">
            <i class="fa-solid fa-floppy-disk me-2"></i>Save SMS
        </button>
    </div>

</form>
